<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beauty Time - Dashboard Profissional</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js'></script>
    
  </head>
  <body>
    <!--MENU TOPO-->
    <div class="menu-superior">
      <ul>
        <li>
          <a href="/dashboardPro"
            ><img
              src="static/images/logo.svg"
              alt="logo do BeautyTime"
              width="335"
              height="180"
          /></a>
        </li>
        <li><a href="/services">Serviços</a></li>
        <li><a href="/horarios">Horários</a></li>
        <li><a href="#">Notificações</a></li>
        <li><a href="/perfilPro">Perfil</a></li>
        <li><a href="/logout">Sair</a></li>
      </ul>
    </div>
    <div id="calendar" class="calendario"></div>
    <div id="digital-clock" class="relogio"></div>
  </body>
  <script src="static/js/calendar.js"></script>
</html>
