<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beauty Time - Dashboard Profissional</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js"></script>
  </head>
  <body>
    <!--MENU TOPO-->
    <div class="menu-superior">
      <ul>
        <li>
          <a href="/dashboardPro"
            ><img
              src="static/images/logo.svg"
              alt="logo do BeautyTime"
              width="335"
              height="180"
          /></a>
        </li>
        <li><a href="/services">Serviços</a></li>
        <li><a href="/horarios">Horários</a></li>
        <li><a href="/perfilPro">Perfil</a></li>
        <li><a href="/logout">Sair</a></li>
      </ul>
    </div>
    <div id="digital-clock" class="relogio"></div>
    <div class="container-form">
      <div class="title">
        <h1>Agenda</h1>
        <p>Confira aqui os seus agendamentos.</p>
      </div>
      <div class="dashboard-container">
        <h3>Seus Agendamentos:</h3>
        <div class="container-agendamentos">
          {% for agendamento in agendamentos %}
          <div class="agendamento">
            <div class="agenda-row">
              <h3>Dia:</h3>
              <h4>{{agendamento[0].strftime("%d/%m")}}</h4>
            </div>
            <div class="agenda-row">
              <h3>Horario:</h3>
              <h4>
                {{agendamento[0].strftime("%H:%M")}} -
                {{agendamento[6].strftime("%H:%M")}}
              </h4>
            </div>
            <div class="agenda-row">
              <h3>Servico:</h3>
              <h4>{{agendamento[4]}}</h4>
            </div>
            <div class="agenda-row">
              <h3>Cliente:</h3>
              <h4>{{agendamento[1]}} {{agendamento[2]}}</h4>
            </div>
            <div class="agenda-row">
              <h3>Telefone:</h3>
              <h4>{{agendamento[3]}}</h4>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
  <script src="static/js/calendar.js"></script>
</html>
