<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/style.css" />
    <title>BeautyTime - Horários</title>
  </head>
  <body>
    <!--MENU TOPO-->
    <div class="menu-superior">
      <ul>
        <li>
          <a href="/dashboardPro">
            <img
              src="static/images/logo.svg"
              alt="logo do BeautyTime"
              width="335"
              height="180"
            />
          </a>
        </li>
        <li><a href="/dashboardPro">Inicio</a></li>
        <li><a href="/services">Serviços</a></li>
        <li><a href="/perfilPro">Perfil</a></li>
        <li><a href="/logout">Sair</a></li>
      </ul>
    </div>

    <!--Container-->
    <div class="container-horarios">
      <!--titulo-->
      <div class="title">
        <h1>Horários</h1>
        <p>Defina os seus horários de atendimento.</p>
      </div>

      <div class="form-box">
        <div class="form">
          <form
            id="formHrs"
            class="formulario"
            action="/horarios"
            method="post"
          >
            {% for dia_form, dia_sql in [('domingo', 'Domingo'), ('segunda',
            'Segunda'), ('terca', 'Terça'), ('quarta', 'Quarta'), ('quinta',
            'Quinta'), ('sexta', 'Sexta'), ('sabado', 'Sábado')] %}
            <div class="day">
              <div class="day-box">
                <input
                  type="checkbox"
                  id="{{ dia_form }}"
                  name="{{ dia_form }}"
                  onclick="showHours('{{ dia_form }}')"
                  {%
                  if
                  not
                  horarios[dia_form].fechado
                  %}checked{%
                  endif
                  %}
                />
                <h3>{{ dia_sql }}</h3>
                <label id="status-{{ dia_form }}" for="{{ dia_form }}">
                  {{ 'Fechado' if horarios[dia_form].fechado else 'Aberto' }}
                </label>
              </div>

              <div
                class="hours-group"
                id="{{ dia_form }}-hours"
                style="display: {% if horarios[dia_form].fechado %}none{% else %}flex{% endif %};"
              >
                <div class="horas">
                  <div class="hours-box">
                    <h4>De</h4>
                    <input
                      type="time"
                      id="{{ dia_form }}-start"
                      name="{{ dia_form }}-start"
                      value="{{ horarios[dia_form].hora_inicio}}"
                    />
                    <h4>Até</h4>
                    <input
                      type="time"
                      id="{{ dia_form }}-end"
                      name="{{ dia_form }}-end"
                      value="{{ horarios[dia_form].hora_fim}}"
                    />
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            <div class="input-box">
              <input type="hidden" name="profissional_id" value="{{ id }}" />
            </div>
            <button class="button" type="submit" name="submit">Salvar</button>
          </form>
        </div>
      </div>
    </div>
    <script src="static/js/script.js"></script>
  </body>
</html>
